<!DOCTYPE html>
<html lang="{{ lang | default(value='de') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png">
    <title>{% block title %}GT Id{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css?h={{ css_hash }}">
    {% block head_extra %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block body %}{% endblock %}
    <script src="/static/app.js?h={{ js_hash }}"></script>
</body>
</html>
