{% extends "base.html" %}

{% block title %}{{ t.confirm_email_change_success_title }} - GT Id{% endblock %}
{% block body_class %}wave{% endblock %}

{% block body %}
<div class="centered">
    <div class="centered-card">
        <div class="logo"><img src="/favicon.svg" alt="GT Id" class="logo-icon">Id</div>
        <h1>{{ t.confirm_email_change_success_title }}</h1>
        <p class="mt-1">{{ t.confirm_email_change_success_message }}</p>
        <p class="mt-1"><strong>{{ anonymized_email }}</strong></p>
        <a href="/login" class="btn btn-primary btn-block mt-1">{{ t.login_title }}</a>
    </div>
</div>
{% endblock %}
